name: Daily Key Generator

on:
  schedule:
  - cron: '* * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate-key:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate key
        run: |
          KEY="MUNCAK-$(openssl rand -hex 4 | tr 'a-f' 'A-F')"
          echo "$KEY" > key

      - name: Commit & push
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add key
          git commit -m "Daily key update" || echo "No changes"
          git push origin HEAD
